# Visual Studio files
.vs/
*.VC.db
*.VC.opendb
*.user
*.suo

# Build folders
build/
build-win64/
out/
*.o
*.obj
*.exe
*.dll
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install/
Untitled_Build/
Femure_Build/
# Qt / IDE files
*.pro.user
.moc/
.rcc/
*.autosave

# Logs and temp files
*.log
*.tmp
Thumbs.db
.DS_Store
